<%= form_with(model: item_size, class: "contents") do |form| %>
  <% if item_size.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(item_size.errors.count, "error") %> prohibited this item_size from being saved:</h2>
      <ul>
        <% item_size.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="my-5">
    <%= form.label :item_id %>
    <%= form.select :item_id,
        Item.all.map {|item| [item.name, item.id]},
        {include_blank: true} ,
        class: "select input input-bordered bg-base-300 w-full" %>
  </div>
  <div class="my-5">
    <%= form.label :size %>
    <%= form.text_field :size, class: "input input-bordered bg-base-300 w-full" %>
  </div>
  <div class="my-5">
    <%= form.label :price %>
    <%= form.text_field :price, class: "input input-bordered bg-base-300 w-full" %>
  </div>
  <div class="inline">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
