<% if user_signed_in? && current_user.is_admin? %>
  <div class="mx-auto md:w-2/3 w-full flex">
    <div class="mx-auto">
      <% if notice.present? %>
        <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
      <% end %>
      <%= render @item_size %>
      <%= link_to 'Edit this item_size', edit_item_size_path(@item_size), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <div class="inline-block ml-2">
        <%= button_to 'Destroy this item_size', item_size_path(@item_size), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
      </div>
      <%= link_to 'Back to item_sizes', item_sizes_path, class: "btn btn-primary btn-outline" %>
    </div>
  </div>
<% else %>
  <%= render "shared/errors/401" %>
<% end %>

