<script type="module">
  import * as ArtGenerator from 'lib/art_generator'
  window.ArtGenerator = ArtGenerator
</script>
<div class="w-full flex flex-col items-center justify-center gap-6">
  <div class="text-2xl font-bold">Comments</div>
  <div class="border border-neutral/50 p-4 rounded-xl max-w-[64rem]">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Art</th>
          <th>Content</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @comments.each do |comment| %>
          <tr>
            <td><%= link_to User.find(comment.user_id) do %><%= User.find(comment.user_id).name %><% end %></td>
            <td>
              <%= link_to Art.find(comment.art_id), class: "flex flex-row gap-4 items-center" do %>
                <%= content_tag :div, class: "bg-black w-16 h-16 shrink-0", id: "art_" + comment.art_id.to_s + "_comment_" + comment.id.to_s do %>
                  <%= render "shared/components/graphics/canvas", art_data: Art.find(comment.art_id).data, id: "art_" + comment.art_id.to_s + "_comment_" + comment.id.to_s, isStatic: true, isSVG: false %>
                <% end %>
                <% if Art.find(comment.art_id).name? %>
                  <div><%= Art.find(comment.art_id).name %></div>
                <% else %>
                  <div>No name</div>
                <% end %>
              <% end %>
              
            </td>
            <td class="max-w-[24rem] whitespace-normal break-words"><%= comment.content %></td>
            <td>
              <div class="flex flex-row gap-2">
                <%= button_to "Delete", comment_path(comment), method: :delete, class: "btn btn-outline" %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
