<script type="module">
  import * as UserInterface from 'lib/user_interface'
  window.UserInterface = UserInterface
</script>
<div class="w-full flex flex-col items-center gap-4 pt-24">
  <div class="flex flex-col gap-4 items-center text-center">
    <div class="avatar placeholder">
      <div class="bg-neutral-focus text-neutral-content rounded-full w-24">
        <span class="text-3xl"><%= @user.name.first %></span>
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <div class="text-2xl font-bold"><%= @user.name %></div>
      <div class="text-lg">Account created on <%= @user.created_at.to_date %></div>
    </div>
  </div>
  <div class="flex flex-row gap-4">
    <button id="arts_btn" class="btn btn-neutral" onClick='UserInterface.switch_element_visibility("comments", "arts");UserInterface.switch_button_fill("arts_btn")'>Arts</button>
    <button id="comments_btn" class="btn btn-outline" onClick='UserInterface.switch_element_visibility("arts", "comments");UserInterface.switch_button_fill("comments_btn")'>Comments</button>
  </div>
  <div class="w-3/4">
    <div id="arts" class="w-full flex flex-row flex-wrap justify-center gap-4">
      <% Art.where(user_id: @user).each do |art| %>
        <%= render "shared/components/graphics/art_icon", art: art %>
      <% end %>
    </div>
    <div id="comments" class="hidden w-full flex-col items-center gap-4">
      <% Comment.where(user_id: @user).each do |comment| %>
        <%= render "shared/components/social/comment_profile", comment: comment %>
      <% end %>
    </div>
  </div>
</div>
