<script type="module">
  import * as UserInterface from 'lib/user_interface'
  window.UserInterface = UserInterface
</script>
<div class="w-full flex flex-col items-center gap-4 pt-24 px-8">
  <div class="flex flex-col gap-4 items-center text-center">
    <div class="avatar placeholder">
      <div class="bg-neutral-focus text-neutral-content rounded-full w-24">
        <span class="text-3xl"><%= @user.name.first %></span>
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <div class="text-2xl font-bold"><%= @user.name %></div>
      <div class="flex flex-row gap-4 justify-center">
        <div class="text-lg"><%= Art.all.where(user_id: @user.id).count %> Uploads</div>
        <div class="text-lg"><%= Order.all.where(user_id: @user.id).count %> Orders</div>
      </div>
      <div class="text-lg font-bold">Earnings (fictional): $<%= @earnings %></div>
    </div>
  </div>
  <div class="flex flex-col w-full md:flex-row justify-center gap-4">
    <button
      id="arts_btn"
      class="btn btn-primary"
      onClick='UserInterface.switch_section_visibility("arts_sec");
      UserInterface.switch_button_fill("arts_btn")'>
      Arts
    </button>
    <button
    id="comments_btn"
    class="btn btn-primary btn-outline"
    onClick='UserInterface.switch_section_visibility("comments_sec");
    UserInterface.switch_button_fill("comments_btn")'>
      Comments
    </button>
    <% if user_signed_in? and current_user.id == @user.id %>
      <button
      id="orders_btn"
      class="btn btn-primary btn-outline"
      onClick='UserInterface.switch_section_visibility("orders_sec");
      UserInterface.switch_button_fill("orders_btn")'>
        Orders
      </button>
      <button
      id="earnings_btn"
      class="btn btn-primary btn-outline"
      onClick='UserInterface.switch_section_visibility("earnings_sec");
      UserInterface.switch_button_fill("earnings_btn")'>
        Earnings
      </button>
    <% end %>
  </div>
  <div class="w-full lg:w-3/4 flex flex-col gap-4">
    <div class="w-full self-center"><%= render "shared/components/flash" %></div>
    <div id="arts_sec" class="w-full flex flex-row flex-wrap justify-center gap-2">
      <% @arts.each do |art| %>
        <%= render "shared/components/graphics/art_link", art: art %>
      <% end %>
    </div>
    <div id="comments_sec" class="hidden w-full flex-col items-center gap-2">
      <% @comments.each do |comment| %>
        <%= render "shared/components/social/comment_profile", comment: comment %>
      <% end %>
    </div>
    <% if user_signed_in? and current_user.id == @user.id %>
      <div id="orders_sec" class="hidden w-full flex-col items-center gap-4">
        <%= render "shared/components/tables/orders", orders: @orders, isAdmin: false %>
      </div>
      <div id="earnings_sec" class="hidden w-full flex-col items-center gap-4">
        <%= render "shared/components/tables/earnings", user: @user %>
      </div>
    <% end %>
  </div>
</div>
