<script type="module">
  import * as UserInterface from 'lib/user_interface'
  window.UserInterface = UserInterface
</script>
<div class="w-full flex flex-col items-center gap-4 pt-24">
  <div class="flex flex-col gap-4 items-center text-center">
    <div class="avatar placeholder">
      <div class="bg-neutral-focus text-neutral-content rounded-full w-24">
        <span class="text-3xl"><%= @user.name.first %></span>
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <div class="text-2xl font-bold"><%= @user.name %></div>
      <div class="text-lg">Account created on <%= @user.created_at.to_date %></div>
    </div>
  </div>
  <div class="flex flex-row gap-4">
    <button
      id="arts_btn"
      class="btn btn-primary"
      onClick='UserInterface.switch_section_visibility("arts_sec");
      UserInterface.switch_button_fill("arts_btn")'>
        Arts
    </button>
    <button
    id="comments_btn"
    class="btn btn-primary btn-outline"
    onClick='UserInterface.switch_section_visibility("comments_sec");
    UserInterface.switch_button_fill("comments_btn")'>
      Comments
    </button>
    <% if user_signed_in? and current_user.id == @user.id %>
      <button
      id="orders_btn"
      class="btn btn-primary btn-outline"
      onClick='UserInterface.switch_section_visibility("orders_sec");
      UserInterface.switch_button_fill("orders_btn")'>
        Orders
      </button>
    <% end %>
  </div>
  <div class="w-3/4">
    <div id="arts_sec" class="w-full flex flex-row flex-wrap justify-center gap-2">
      <% @arts.each do |art| %>
        <%= render "shared/components/graphics/art_icon", art: art %>
      <% end %>
    </div>
    <div id="comments_sec" class="hidden w-full flex-col items-center gap-2">
      <% @comments.each do |comment| %>
        <%= render "shared/components/social/comment_profile", comment: comment %>
      <% end %>
    </div>
    <% if user_signed_in? and current_user.id == @user.id %>
      <div id="orders_sec" class="hidden w-full flex-col items-center gap-4">
        <%= render "shared/components/tables/orders", orders: @orders, isAdmin: false %>
      </div>
    <% end %>
  </div>
</div>
