<div class="flex flex-col mx-auto w-full gap-4">
  <div class="font-bold text-center text-2xl">Change your password</div>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>
    <label class="flex-1 input-group">
      <span class="input input-bordered border-r-0"><i class="ph ph-password text-2xl"></i></span>
      <%= f.password_field :password,
      class: "input input-bordered bg-base-300 w-full",
      autocomplete: "new-password",
      placeholder: "Password " + "(" + @minimum_password_length.to_s + " characters minimum" + ")" %>
    </label>
    <label class="flex-1 input-group">
      <span class="input input-bordered border-r-0"><i class="ph ph-password text-2xl"></i></span>
      <%= f.password_field :password_confirmation,
      class: "input input-bordered bg-base-300 w-full",
      autocomplete: "new-password",
      placeholder: "Password confirmation" %>
    </label>
    <%= render "devise/shared/links", form: f, submit: "Change my password" %>
  <% end %>
</div>
