<%= form_with(model: order, class: "contents") do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>
      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="my-5">
    <%= form.label :art_id %>
    <%= form.select :art_id,
        Art.all.map {|art| [ (art.name? ? art.name : "No name") + " - " + User.find(art.user_id).name, art.id]},
        {include_blank: true} ,
        class: "select input input-bordered bg-base-300 w-full" %>
  </div>
  <div class="my-5">
    <%= form.label :user_id %>
    <%= form.select :user_id,
        User.all.map {|user| [user.name, user.id]},
        {include_blank: true} ,
        class: "select input input-bordered bg-base-300 w-full" %>
  </div>
  <div class="my-5">
    <%= form.label :item_id %>
    <%= form.select :item_id,
        Item.all.map {|item| [item.name, item.id]},
        {include_blank: true} ,
        class: "select input input-bordered bg-base-300 w-full" %>
  </div>
  <div class="my-5">
    <%= form.label :item_size_id %>
    <%= form.select :item_size_id,
        ItemSize.all.map {|item_size| [item_size.size, item_size.id]},
        {include_blank: true} ,
        class: "select input input-bordered bg-base-300 w-full" %>
  </div>
  <div class="inline">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
