<script type="module">
  import * as ArtGenerator from 'lib/art_generator'
  window.ArtGenerator = ArtGenerator
</script>
<div class="flex flex-row items-center gap-4 w-full lg:w-[42rem] border border-neutral rounded-xl p-4">
  <%= link_to Art.find(comment.art_id),
      class: "bg-black w-16 h-16 shrink-0",
      id: "art_" + comment.art_id.to_s + "_comment_" + comment.id.to_s do %>
    <%= render "shared/components/graphics/canvas",
        art_data: Art.find(comment.art_id).data,
        id: "art_" + comment.art_id.to_s + "_comment_" + comment.id.to_s,
        isStatic: true,
        isSVG: false %>
  <% end %>
  <div class="flex flex-1 flex-col">
    <% if Art.find(comment.art_id).name? %>
      <div class="font-bold"><%= Art.find(comment.art_id).name %></div>
    <% else %>
      <div class="font-bold">No name</div>
    <% end %>
    <div class="break-all"><%= comment.content %></div>
  </div>
  <% if user_signed_in? && (current_user.id == comment.user_id || current_user.is_admin) %>
    <%= button_to comment_path(comment), method: :delete do %><i class="ph ph-trash text-2xl"></i><% end %>
  <% end %>
</div>
