<script type="module">
  import * as ArtGenerator from 'lib/art_generator'
  import * as Canvas from 'lib/canvas'
  import * as Input from 'lib/input'
  import * as UserInterface from 'lib/user_interface'
  window.ArtGenerator = ArtGenerator
  window.Canvas = Canvas
  window.Input = Input
  window.UserInterface = UserInterface
</script>
<%= form_with(model: art, class: "contents") do |form| %>
  <% if art.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(art.errors.count, "error") %> prohibited this art from being saved:</h2>
      <ul>
        <% art.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="flex flex-row h-full">
    <div class="flex form-control flex-1 gap-4 p-6">
      <div class="flex flex-col gap-1">
        <%= form.label :name, class: "label-text" %>
        <%= form.text_field :name, class: "input input-bordered w-full" %>
      </div>
      <div class="flex flex-row gap-2">
        <% ArtsController::GENERATORS.each do |generator| %>
          <%= form.radio_button :generator_type, generator[:generator], class: "hidden peer/" + generator[:generator], id: generator[:generator], onClick: 'UserInterface.switch_category_visibility("parameters","' + generator[:generator] + '")' %>
          <%= label_tag generator[:generator], generator[:generator], class: "flex flex-1 btn justify-center items-center peer-checked/" + generator[:generator] + ":bg-primary" %>
        <% end %>
      </div>
      <div id="parameters">
        <% ArtsController::GENERATORS.each do |generator| %>
          <%= content_tag :div, class: "hidden flex-col gap-4", id: "parameters-" + generator[:generator] do %>
            <% generator[:sliders].each do |slider| %>
              <%= render "shared/components/input/slider",
              min: slider[:min],
              max: slider[:max],
              value: slider[:value],
              step: slider[:step],
              generator: generator[:generator],
              element: slider[:element] %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <%= link_to "Generate art", "javascript:void(0)", onClick: "ArtGenerator.create_layer(art_editor_layers, art_editor_p5init)", class: "btn" %>
      <div class="flex flex-col gap-2" id="layers">
      </div>
      <div class="flex flex-col gap-1">
        <%= form.label :data, class: "label-text" %>
        <%= form.text_area :data, class: "textarea textarea-bordered w-full", id: "data" %>
      </div>
      <div class="flex flex-row gap-2 w-full">
        <%= form.submit class: "btn btn-primary flex-1" %>
        <%= link_to "Back to arts", arts_path, class: "btn flex-1" %>
      </div>
    </div>
    <div class="flex justify-center items-center flex-1 bg-black overflow-auto">
      <%= render "shared/components/canvas", art_data: [], id: "art_editor", isStatic: false %>
    </div>
  </div>
<% end %>
