<script type="module">
  import * as ArtGenerator from 'lib/art_generator'
  import * as Input from 'lib/input'
  import * as UserInterface from 'lib/user_interface'
  window.ArtGenerator = ArtGenerator
  window.Input = Input
  window.UserInterface = UserInterface
  <% if action_name == 'edit' %>
    UserInterface.update_editor_fields(JSON.parse(<%= art.data.to_json.html_safe %>))
    ArtGenerator.render_layer_buttons(JSON.parse(<%= art.data.to_json.html_safe %>))
  <% end %>
</script>
<script type="application/javascript">
  var art_editor_layer_index
</script>
<%= form_with(model: art, class: "contents") do |form| %>
  <% if art.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(art.errors.count, "error") %> prohibited this art from being saved:</h2>
      <ul>
        <% art.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="flex flex-row h-full">
    <div class="flex form-control w-1/3 gap-4 p-6">
      <div class="flex flex-col flex-1 gap-2" id="art_editor_main">
        <div>
          <%= form.label :name, class: "label-text" %>
          <%= form.text_field :name, class: "input input-bordered w-full" %>
        </div>
        <div class="flex flex-row gap-4">
          <div class="flex-1">
          <%= label_tag "parameter-width-label", "Width", class: "label-text" %>
          <%= content_tag :input, class: "input input-bordered w-full", id: "parameter-width", oninput: "ArtGenerator.update_general_properties(art_editor_data)" do; end %>
          </div>
          <div class="flex-1">
          <%= label_tag "parameter-height-label", "Height", class: "label-text" %>
          <%= content_tag :input, class: "input input-bordered w-full", id: "parameter-height", oninput: "ArtGenerator.update_general_properties(art_editor_data)" do; end %>
          </div>
        </div>
        <div>
          <%= label_tag "parameter-bg-label", "Background Color", class: "label-text" %>
          <%= content_tag :input, class: "input input-bordered w-full", id: "parameter-bg", oninput: "ArtGenerator.update_general_properties(art_editor_data)" do; end %>
        </div>
        <div class="flex flex-col gap-2" id="layers">
        </div>
        <hr class="border-t border-black/20 mb-2 w-full"/>
        <%= link_to "New layer", "javascript:void(0)", onClick: 'UserInterface.switch_element_visibility("art_editor_main", "art_editor_generators")', class: "btn" %>
      </div>

      <div class="hidden flex-col flex-1 gap-2" id="art_editor_generators">
        <% ArtsController::GENERATORS.each do |generator| %>
          <%= form.radio_button :generator_type, generator[:generator], class: "hidden peer/" + generator[:generator], id: generator[:generator], onClick: 'UserInterface.render_layer_creator("' + generator[:generator] + '")' %>
          <%= label_tag generator[:generator], generator[:generator], class: "flex btn justify-center items-center" %>
        <% end %>
        <%= link_to "Back", "javascript:void(0)", onClick: 'UserInterface.switch_element_visibility("art_editor_generators", "art_editor_main")', class: "btn btn-outline" %>
      </div>
      <div class="hidden flex-col flex-1 gap-4" id="art_editor_parameters">
        <% ArtsController::GENERATORS.each do |generator| %>
          <%= content_tag :div, class: "hidden flex-col gap-4", id: "parameters-" + generator[:generator] do %>
            <%= content_tag :div, class: "hidden text-2xl font-bold", id: "art_editor_parameters_" + generator[:generator] + "_create" do %>
              Create <%= generator[:generator] %>
            <% end %>
            <%= content_tag :div, class: "hidden text-2xl font-bold", id: "art_editor_parameters_" + generator[:generator] + "_edit" do %>
              Edit <%= generator[:generator] %>
            <% end %>
            <div class="flex flex-row gap-2">
              <div class="flex-1 gap-1">
                <%= label_tag "parameter-" + generator[:generator] + "-color-label", "Color", class: "label-text" %>
                <%= content_tag :input, class: "input input-bordered w-full", id: "parameter-" + generator[:generator] + "-color" do; end %>
              </div>
              <div class="flex flex-col gap-1">
                <%= label_tag "parameter-" + generator[:generator] + "-fill-label", "Fill?", class: "label-text" %>
                <div class="flex flex-1">
                  <%= check_box_tag "parameter-" + generator[:generator] + "-fill", "fill", false, class: "self-center toggle focus:hidden" %>
                </div>
              </div>
            </div>
            <% generator[:sliders].each do |slider| %>
              <%= render "shared/components/input/slider",
              min: slider[:min],
              max: slider[:max],
              value: slider[:value],
              step: slider[:step],
              generator: generator[:generator],
              element: slider[:element] %>
            <% end %>
          <% end %>
        <% end %>
        <div class="flex flex-row gap-2">
          <%= link_to "Create layer", "javascript:void(0)", onClick: 'ArtGenerator.create_layer(art_editor_data);UserInterface.switch_element_visibility("art_editor_parameters", "art_editor_main")', class: "hidden flex-1", id: "art_editor_create_layer" %>
          <%= link_to "Update layer", "javascript:void(0)", onClick: 'ArtGenerator.update_layer(art_editor_data,art_editor_layer_index);UserInterface.switch_element_visibility("art_editor_parameters", "art_editor_main")', class: "hidden flex-1", id: "art_editor_update_layer" %>
          <%= link_to "Back", "javascript:void(0)", onClick: 'UserInterface.switch_element_visibility("art_editor_parameters", "art_editor_main")', class: "hidden btn-outline flex-1", id: "art_editor_back_to_main" %>
          <%= link_to "Back", "javascript:void(0)", onClick: 'UserInterface.switch_element_visibility("art_editor_parameters", "art_editor_generators")', class: "hidden btn-outline flex-1", id: "art_editor_back_to_generators" %>
        </div>
      </div>
      <div class="flex flex-col gap-1">
        <%= form.label :data, class: "label-text" %>
        <%= form.text_area :data, class: "textarea textarea-bordered w-full", id: "data" %>
      </div>
      <div class="flex flex-row gap-2 w-full">
        <%= form.submit class: "btn btn-primary flex-1" %>
        <%= link_to "Back to arts", arts_path, class: "btn flex-1" %>
      </div>
    </div>
    <div class="flex justify-center items-center flex-1 bg-black overflow-auto">
      <%= render "shared/components/graphics/canvas", art_data: [], id: "art_editor", isStatic: false, isSVG: false %>
    </div>
  </div>
<% end %>
