<%= form_with(model: art, class: "contents") do |form| %>
  <% if art.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(art.errors.count, "error") %> prohibited this art from being saved:</h2>

      <ul>
        <% art.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex flex-row h-full">
    <div class="flex form-control flex-1 gap-4 p-6">
      <div>
        <label class="label">
          <%= form.label :name, class: "label-text" %>
        </label>
        <%= form.text_field :name, class: "input input-bordered w-full" %>
      </div>
      <div class="flex flex-row gap-2">
        <% ArtsController::GENERATOR_TYPES.each do |element| %>
          <%= form.radio_button :generator_type, element, class: "hidden peer/" + element.downcase, id: element.downcase %>
          <%= label_tag element.downcase, element, class: "flex flex-1 btn justify-center items-center peer-checked/" + element.downcase + ":bg-primary" %>
        <% end %>
      </div>
      <%= link_to "Generate art", "javascript:void(0)", onClick: "ArtGenerator.draw_lines()", class: "btn" %>
      <div class="flex flex-row gap-2 w-full">
        <%= form.submit class: "btn btn-primary flex-1" %>
        <%= link_to "Back to arts", arts_path, class: "btn flex-1" %>
      </div>
    </div>
    <div class="flex justify-center items-center flex-1 bg-black overflow-auto">
      <%= render "shared/components/canvas" %>
    </div>
  </div>
  
<% end %>