<script type="module">
  import * as ArtGenerator from 'lib/art_generator'
  import * as Input from 'lib/input'
  import * as UserInterface from 'lib/user_interface'
  window.ArtGenerator = ArtGenerator
  window.Input = Input
  window.UserInterface = UserInterface
  <% if action_name == 'edit' %>
    UserInterface.update_editor_fields(JSON.parse(<%= art.data.to_json.html_safe %>))
    ArtGenerator.render_layer_buttons(JSON.parse(<%= art.data.to_json.html_safe %>))
  <% end %>
</script>
<script type="application/javascript">
  var art_editor_layer_index
</script>
<%= form_with(model: art, class: "contents") do |form| %>
  <div class="flex flex-col-reverse lg:flex-row h-screen">
    <div class="lg:w-1/3 h-1/2 lg:h-full lg:pt-16 bg-base-100">
      <div class="h-full overflow-y-auto">
        <div class="flex flex-col m-6 gap-4">
          <%= render "shared/components/flash" %>
          <div class="flex flex-col flex-1 gap-2" id="art_editor_main">
            <label class="input-group">
              <span class="input input-bordered border-r-0"><i class="ph ph-text-t text-2xl"></i></span>
              <%= form.text_field :name, class: "input input-bordered bg-base-300 w-full", placeholder: "Name" %>
            </label>
            <div class="flex flex-row gap-2">
              <label class="flex-1 input-group">
                <span class="input input-bordered border-r-0"><i class="ph ph-arrows-horizontal text-2xl"></i></span>
                <%= content_tag :input,
                class: "input input-bordered bg-base-300 w-full",
                id: "parameter-width",
                oninput: "ArtGenerator.update_general_properties(art_editor_data)",
                placeholder: "Width" do; end %>
              </label>
              <label class="flex-1 input-group">
                <span class="input input-bordered border-r-0"><i class="ph ph-arrows-vertical text-2xl"></i></span>
                <%= content_tag :input,
                class: "input input-bordered bg-base-300 w-full",
                id: "parameter-height",
                oninput: "ArtGenerator.update_general_properties(art_editor_data)",
                placeholder: "Height" do; end %>
              </label>
            </div>
            <div>
              <%= render "shared/components/input/color_picker",
                  id: "parameter-bg",
                  placeholder: "<< Background Color",
                  icon: "ph-paint-bucket" %>
            </div>
            <div class="flex flex-col gap-2" id="layers">
            </div>
            <hr class="border-t border-neutral mb-2 w-full"/>
            <%= link_to "New layer", "javascript:void(0)",
            onClick: 'UserInterface.switch_element_visibility("art_editor_main", "art_editor_generators")',
            class: "btn" %>
          </div>
          <div class="hidden flex-col flex-1 gap-2" id="art_editor_generators">
            <div class="flex flex-col sm:grid sm:grid-cols-2 lg:flex lg:flex-col xl:grid xl:grid-cols-2 gap-2">
              <% ArtsController::GENERATORS.each do |generator| %>
                <%= form.radio_button :generator_type,
                    generator[:generator].delete(' '),
                    class: "hidden peer/" + generator[:generator].delete(' '), id: generator[:generator].delete(' '),
                    onClick: 'UserInterface.render_layer_creator("' + generator[:generator].delete(' ') + '")' %>
                <%= label_tag generator[:generator].delete(' '), generator[:generator], class: "flex btn justify-center items-center" %>
              <% end %>
            </div>
            <%= link_to "Back",
                "javascript:void(0)",
                onClick: 'UserInterface.switch_element_visibility("art_editor_generators", "art_editor_main")',
                class: "btn btn-primary btn-outline" %>
          </div>
          <div class="hidden flex-col flex-1 gap-4" id="art_editor_parameters">
            <% ArtsController::GENERATORS.each do |generator| %>
              <%= content_tag :div,
                  class: "hidden flex-col gap-4",
                  id: "parameters-" + generator[:generator].delete(' ') do %>
                <%= content_tag :div,
                    class: "hidden text-2xl font-bold",
                    id: "art_editor_parameters_" + generator[:generator].delete(' ') + "_create" do %>
                  Create <%= generator[:generator] %>
                <% end %>
                <%= content_tag :div,
                    class: "hidden text-2xl font-bold",
                    id: "art_editor_parameters_" + generator[:generator].delete(' ') + "_edit" do %>
                  Edit <%= generator[:generator].delete(' ') %>
                <% end %>
                <div class="flex flex-row gap-2 items-end">
                  <%= render "shared/components/input/color_picker",
                      id: "parameter-" + generator[:generator].delete(' ') + "-color",
                      placeholder: "<< Color",
                      icon: "ph-palette" %>
                  <div class="flex flex-col gap-1">
                    <%= label_tag "parameter-" + generator[:generator].delete(' ') + "-fill-label", "Fill?",
                    class: "label-text" %>
                    <div class="flex flex-1">
                      <%= check_box_tag "parameter-" + generator[:generator].delete(' ') + "-fill", "fill",
                      false,
                      class: "checkbox border bg-base-300" %>
                    </div>
                  </div>
                </div>
                <%= render "shared/components/input/slider",
                  min: '0',
                  max: '10',
                  value: '1',
                  step: '1',
                  generator: generator[:generator].delete(' '),
                  element: 'stroke',
                  gendep: false %>
                <% generator[:sliders].each do |slider| %>
                  <%= render "shared/components/input/slider",
                  min: slider[:min],
                  max: slider[:max],
                  value: slider[:value],
                  step: slider[:step],
                  generator: generator[:generator].delete(' '),
                  element: slider[:element],
                  gendep: true %>
                <% end %>
              <% end %>
            <% end %>
              <%= link_to "Generate",
                "javascript:void(0)",
                onClick: 'ArtGenerator.create_layer(art_editor_data, false)',
                class: "hidden flex-1",
                id: "art_editor_generate" %>
            <div class="flex flex-row gap-2">
              <%= link_to "Create layer",
                  "javascript:void(0)",
                  onClick: 'ArtGenerator.create_layer(art_editor_data, true);
                  UserInterface.switch_element_visibility("art_editor_parameters", "art_editor_main")',
                  class: "hidden flex-1 btn-primary",
                  id: "art_editor_create_layer" %>
              <%= link_to "Update layer", "javascript:void(0)",
                  onClick: 'ArtGenerator.update_layer(art_editor_data,art_editor_layer_index);
                  UserInterface.switch_element_visibility("art_editor_parameters", "art_editor_main")',
                  class: "hidden flex-1 btn-primary",
                  id: "art_editor_update_layer" %>
              <%= link_to "Back",
                  "javascript:void(0)",
                  onClick: 'UserInterface.switch_element_visibility("art_editor_parameters", "art_editor_main")',
                  class: "hidden flex-1 btn-primary btn-outline",
                  id: "art_editor_back_to_generators" %>
              <%= link_to "Back",
                  "javascript:void(0)",
                  onClick: 'UserInterface.switch_element_visibility("art_editor_parameters","art_editor_generators");
                  ArtGenerator.delete_layer(art_editor_data, ArtGenerator.scan_unfinished_layer_index(art_editor_data))',
                  class: "hidden flex-1 btn-primary btn-outline",
                  id: "art_editor_back_to_main" %>
            </div>
          </div>
          <div class="flex flex-col gap-1">
            <%= form.label "Data (for debugging)", class: "label-text" %>
            <%= form.text_area :data, class: "textarea textarea-bordered bg-base-300 w-full", id: "data", readonly: true %>
          </div>
          <div class="flex flex-row gap-2 w-full">
            <% if user_signed_in? %>
              <%= form.submit class: "btn btn-primary flex-1" %>
            <% else %>
              <%= form.submit class: "btn btn-primary flex-1", disabled: true %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="lg:flex-1 h-1/2 lg:h-full bg-neutral overflow-auto pt-16">
      <div class="flex justify-center items-center h-full w-full overflow-auto"><%= render "shared/components/graphics/canvas",
          art_data: [],
          id: "art_editor",
          isStatic: false,
          isSVG: false %></div>
    </div>
  </div>
<% end %>
