<%= form_with(model: art, class: "contents") do |form| %>
  <% if art.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(art.errors.count, "error") %> prohibited this art from being saved:</h2>

      <ul>
        <% art.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5 form-control w-full max-w-xs">
    <label class="label">
      <%= form.label :name, class: "label-text" %>
    </label>
    <%= form.text_field :name, class: "input input-bordered w-full max-w-xs" %>
  </div>
  <div class="inline">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
