<div class="w-full grid grid-flow-row gap-4">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <%= render @art %>

  <div class="grid grid-cols-3 gap-2">
    <%= link_to 'Edit this art', edit_art_path(@art), class: "btn w-full" %>
    <%= button_to 'Destroy this art', art_path(@art), method: :delete, class: "btn btn-error w-full" %>
    <%= link_to 'Back to arts', arts_path, class: "btn w-full" %>
  </div>
</div>
