<script type="module">
  import * as UserInterface from 'lib/user_interface'
  window.UserInterface = UserInterface
</script>
<div class="navbar bg-base-300 px-6 fixed z-50 border-b border-neutral gap-4 lg:gap-8 flex-col lg:flex-row">
  <div class="flex flex-row w-full lg:w-auto justify-between items-center">
    <div class="shrink-0">
      <%= link_to root_path, data: {turbo: false} do %><%= image_tag "brand.svg", class: "h-6" %><% end %>
    </div>
    <button id="navbar-collapse" onClick="UserInterface.switch_navbar_menu()" class="flex lg:hidden btn btn-outline"><i class="ph-bold ph-list text-xl"></i></button>
  </div>
  <div id="navbar-collapsible" class="hidden lg:flex flex-1 gap-4 lg:gap-8 flex-col lg:flex-row w-full">
    <div class="flex-1 w-full">
      <%= form_with url: "/search", class: "form-control w-full", method: :get do |form| %>
        <%= form.text_field :search, class: "input input-bordered bg-base-300", placeholder: "Search Geniverse", value: params[:search] %>
      <% end %>
    </div>
    <div class="flex-none self-baseline lg:self-auto">
      <div class="dropdown dropdown-bottom lg:dropdown-end">
        <ul class="menu menu-vertical lg:menu-horizontal lg:px-1 gap-2 lg:gap-4">
          <%= link_to 'New art', new_art_path, class: "btn btn-ghost lg:btn-primary lg:btn-outline w-fit uppercase font-bold py-3 px-4" %>
          <% if user_signed_in? %>
            <li tabindex="0">
              <div class="btn btn-ghost w-fit uppercase font-bold py-3 px-4"><%= current_user.name %></div>
              <ul class="text-primary menu menu-sm dropdown-content mt-2 p-2 rounded-box bg-base-300 border border-neutral absolute left-0">
                <li><%= link_to "Profile", user_path(current_user.id) %></li>
                <li><%= button_to "Sign out", destroy_user_session_path, method: :delete %></li>
                <% if current_user.is_admin? %>
                  <hr class="border-t border-neutral mb-2 w-full"/>
                  <li><%= link_to "Users", users_path %></li>
                  <li><%= link_to "Orders", orders_path %></li>
                  <li><%= link_to "Items", items_path %></li>
                  <li><%= link_to "Item Sizes", item_sizes_path %></li>
                  <hr class="border-t border-neutral mb-2 w-full"/>
                  <% if Setting.first.present? %>
                    <li><%= link_to "Edit settings", edit_setting_path(Setting.first) %></li>
                  <% else %>
                    <li><%= link_to "New setting", new_setting_path %></li>
                  <% end %>
                <% end %>
              </ul>
            </li>
          <% else %>
            <%= link_to "Sign in", new_user_session_path, class: "btn btn-ghost lg:btn-primary lg:btn-outline w-fit" %>
            <%= link_to "Sign up", new_user_registration_path, class: "btn btn-ghost lg:btn-primary w-fit" %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
