<div class="navbar bg-neutral text-neutral-content fixed">
  <div class="flex-1">
    <%= link_to "TCC Murcio", root_path, class: "btn btn-ghost normal-case text-xl" %>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <% if user_signed_in? %>
        <li tabindex="0">
          <div><%= current_user.name %></div>
          <ul class="p-2 bg-neutral text-neutral-content">
            <li><%= link_to "Profile", user_path(current_user.id) %></li>
            <li><%= button_to "Sign out", destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path %>
      <% end %>
    </ul>
  </div>
</div>
