<!DOCTYPE html>
<html>
  <head>
    <title>Faciliart</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://unpkg.com/@phosphor-icons/web@2.0.3/src/regular/style.css", type: "text/css", rel: "stylesheet" %>
    <%= stylesheet_link_tag "https://unpkg.com/@phosphor-icons/web@2.0.3/src/bold/style.css", type: "text/css", rel: "stylesheet" %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/monolith.min.css", type: "text/css", rel: "stylesheet" %>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.6.0/p5.min.js", integrity: "sha512-3RlxD1bW34eFKPwj9gUXEWtdSMC59QqIqHnD8O/NoTwSJhgxRizdcFVQhUMFyTp5RwLTDL0Lbcqtl8b7bFAzog==", crossorigin: "anonymous", referrerpolicy: "no-referrer" %>
    <%= javascript_include_tag "https://unpkg.com/p5.js-svg@1.5.1", crossorigin: "anonymous", referrerpolicy: "no-referrer" %>
    <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.min.js", crossorigin: "anonymous", referrerpolicy: "no-referrer" %>
    <%= javascript_importmap_tags %>
    <meta name="turbo-cache-control" content="no-cache">
  </head>
  <body class="font-chivo">
    <%= render "shared/components/navbar" %>
    <main class="flex flex-col">
      <%= render "shared/components/modals/consent" %>
      <%= yield %>
    </main>
  </body>
</html>
